openapi: 3.1.0
info:
  title: Demandbase Account List Account Lists Uploads API
  description: Create, manage, and sync target account lists for ABM campaigns and personalization efforts. Build dynamic and static account lists, add or remove accounts, and sync lists with CRM systems.
  version: '1.0'
  contact:
    name: Demandbase Support
    url: https://support.demandbase.com/
  termsOfService: https://www.demandbase.com/terms-of-service/
servers:
- url: https://api.demandbase.com/accounts
  description: Demandbase Account List API Production
security:
- bearerAuth: []
tags:
- name: Uploads
  description: Upload data files for import
paths:
  /import/v1/jobs/{jobId}/upload:
    post:
      operationId: uploadImportFile
      summary: Demandbase Upload import file
      description: Upload a CSV file for an import job. The file must match the field mappings specified when creating the job.
      tags:
      - Uploads
      parameters:
      - $ref: '#/components/parameters/jobId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV file to import
      responses:
        '200':
          description: File uploaded and validation started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJob'
        '400':
          description: Invalid file format or content
        '401':
          description: Unauthorized
        '404':
          description: Import job not found
        '413':
          description: File too large
components:
  schemas:
    ImportJob:
      type: object
      properties:
        id:
          type: string
          description: Import job unique identifier
        entity_type:
          type: string
          enum:
          - accounts
          - people
          - opportunities
          - activities
          description: Type of entity being imported
        operation:
          type: string
          enum:
          - insert
          - update
          - upsert
          description: Import operation mode
        status:
          type: string
          enum:
          - pending
          - validating
          - processing
          - completed
          - failed
          - cancelled
          description: Current job status
        total_rows:
          type: integer
          description: Total number of rows in the import file
        processed_rows:
          type: integer
          description: Number of rows processed so far
        success_count:
          type: integer
          description: Number of rows successfully imported
        error_count:
          type: integer
          description: Number of rows that failed
        file_name:
          type: string
          description: Name of the uploaded file
        file_size_bytes:
          type: integer
          description: Size of the uploaded file
        created_at:
          type: string
          format: date-time
          description: Job creation timestamp
        started_at:
          type: string
          format: date-time
          description: Processing start timestamp
        completed_at:
          type: string
          format: date-time
          description: Processing completion timestamp
        error_message:
          type: string
          description: Error details if the job failed
  parameters:
    jobId:
      name: jobId
      in: path
      required: true
      description: Import job unique identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for API access
externalDocs:
  description: Demandbase Account List API Documentation
  url: https://docs.demandbase.com/docs/account-list-api
