openapi: 3.1.0
info:
  title: Demandbase Account List Account Lists Firmographics API
  description: Create, manage, and sync target account lists for ABM campaigns and personalization efforts. Build dynamic and static account lists, add or remove accounts, and sync lists with CRM systems.
  version: '1.0'
  contact:
    name: Demandbase Support
    url: https://support.demandbase.com/
  termsOfService: https://www.demandbase.com/terms-of-service/
servers:
- url: https://api.demandbase.com/accounts
  description: Demandbase Account List API Production
security:
- bearerAuth: []
tags:
- name: Firmographics
  description: Access firmographic data for companies
paths:
  /firmographics/{domain}:
    get:
      operationId: getFirmographics
      summary: Demandbase Get firmographic data
      description: Retrieve firmographic data for a company by its domain, including employee count, revenue, industry, location, and corporate hierarchy.
      tags:
      - Firmographics
      parameters:
      - name: domain
        in: path
        required: true
        description: Company web domain
        schema:
          type: string
      responses:
        '200':
          description: Firmographic data returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Firmographics'
        '401':
          description: Unauthorized
        '404':
          description: No firmographic data found for the given domain
components:
  schemas:
    Firmographics:
      type: object
      properties:
        domain:
          type: string
          description: Company web domain
        company_name:
          type: string
          description: Official company name
        employee_count:
          type: integer
          description: Number of employees
        employee_range:
          type: string
          description: Employee count range
        revenue:
          type: number
          description: Annual revenue in USD
        revenue_range:
          type: string
          description: Revenue range bucket
        industry:
          type: string
          description: Industry classification
        sub_industry:
          type: string
          description: Sub-industry classification
        country:
          type: string
          description: Country of headquarters
        state:
          type: string
          description: State or province of headquarters
        city:
          type: string
          description: City of headquarters
        sic_code:
          type: string
          description: SIC industry code
        naics_code:
          type: string
          description: NAICS industry code
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for API access
externalDocs:
  description: Demandbase Account List API Documentation
  url: https://docs.demandbase.com/docs/account-list-api
