openapi: 3.1.0
info:
  title: Demandbase Account List Account Lists API
  description: Create, manage, and sync target account lists for ABM campaigns and personalization efforts. Build dynamic and static account lists, add or remove accounts, and sync lists with CRM systems.
  version: '1.0'
  contact:
    name: Demandbase Support
    url: https://support.demandbase.com/
  termsOfService: https://www.demandbase.com/terms-of-service/
servers:
- url: https://api.demandbase.com/accounts
  description: Demandbase Account List API Production
security:
- bearerAuth: []
tags:
- name: Account Lists
  description: Manage target account lists
paths:
  /lists:
    get:
      operationId: listAccountLists
      summary: Demandbase List account lists
      description: Retrieve all target account lists with metadata.
      tags:
      - Account Lists
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 25
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: List of account lists
          content:
            application/json:
              schema:
                type: object
                properties:
                  lists:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountList'
                  total:
                    type: integer
        '401':
          description: Unauthorized
    post:
      operationId: createAccountList
      summary: Demandbase Create an account list
      description: Create a new target account list.
      tags:
      - Account Lists
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountListRequest'
      responses:
        '201':
          description: Account list created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
  /lists/{listId}:
    get:
      operationId: getAccountList
      summary: Demandbase Get an account list
      description: Retrieve details of a specific account list.
      tags:
      - Account Lists
      parameters:
      - $ref: '#/components/parameters/listId'
      responses:
        '200':
          description: Account list details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
        '401':
          description: Unauthorized
        '404':
          description: Account list not found
    put:
      operationId: updateAccountList
      summary: Demandbase Update an account list
      description: Update an existing account list.
      tags:
      - Account Lists
      parameters:
      - $ref: '#/components/parameters/listId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountListRequest'
      responses:
        '200':
          description: Account list updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '404':
          description: Account list not found
    delete:
      operationId: deleteAccountList
      summary: Demandbase Delete an account list
      description: Delete a target account list.
      tags:
      - Account Lists
      parameters:
      - $ref: '#/components/parameters/listId'
      responses:
        '204':
          description: Account list deleted
        '401':
          description: Unauthorized
        '404':
          description: Account list not found
components:
  parameters:
    listId:
      name: listId
      in: path
      required: true
      description: Account list unique identifier
      schema:
        type: string
  schemas:
    CreateAccountListRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: List name
        description:
          type: string
          description: List description
        type:
          type: string
          enum:
          - static
          - dynamic
          default: static
          description: List type
    AccountList:
      type: object
      properties:
        id:
          type: string
          description: List unique identifier
        name:
          type: string
          description: List name
        description:
          type: string
          description: List description
        type:
          type: string
          enum:
          - static
          - dynamic
          description: List type
        account_count:
          type: integer
          description: Number of accounts in the list
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
        created_by:
          type: string
          description: User who created the list
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for API access
externalDocs:
  description: Demandbase Account List API Documentation
  url: https://docs.demandbase.com/docs/account-list-api
