openapi: 3.1.0
info:
  title: Demandbase Account List Account Lists Sync API
  description: Create, manage, and sync target account lists for ABM campaigns and personalization efforts. Build dynamic and static account lists, add or remove accounts, and sync lists with CRM systems.
  version: '1.0'
  contact:
    name: Demandbase Support
    url: https://support.demandbase.com/
  termsOfService: https://www.demandbase.com/terms-of-service/
servers:
- url: https://api.demandbase.com/accounts
  description: Demandbase Account List API Production
security:
- bearerAuth: []
tags:
- name: Sync
  description: CRM synchronization operations
paths:
  /lists/{listId}/sync:
    post:
      operationId: syncAccountList
      summary: Demandbase Sync account list to CRM
      description: Trigger synchronization of an account list with an integrated CRM system.
      tags:
      - Sync
      parameters:
      - $ref: '#/components/parameters/listId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                target:
                  type: string
                  enum:
                  - salesforce
                  - hubspot
                  - dynamics
                  description: Target CRM system
      responses:
        '202':
          description: Sync initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  sync_id:
                    type: string
                  status:
                    type: string
                    enum:
                    - pending
                    - in_progress
        '401':
          description: Unauthorized
        '404':
          description: Account list not found
components:
  parameters:
    listId:
      name: listId
      in: path
      required: true
      description: Account list unique identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for API access
externalDocs:
  description: Demandbase Account List API Documentation
  url: https://docs.demandbase.com/docs/account-list-api
