openapi: 3.1.0
info:
  title: Demandbase Account List Account Lists List Members API
  description: Create, manage, and sync target account lists for ABM campaigns and personalization efforts. Build dynamic and static account lists, add or remove accounts, and sync lists with CRM systems.
  version: '1.0'
  contact:
    name: Demandbase Support
    url: https://support.demandbase.com/
  termsOfService: https://www.demandbase.com/terms-of-service/
servers:
- url: https://api.demandbase.com/accounts
  description: Demandbase Account List API Production
security:
- bearerAuth: []
tags:
- name: List Members
  description: Manage accounts within lists
paths:
  /lists/{listId}/members:
    get:
      operationId: listAccountListMembers
      summary: Demandbase List account list members
      description: Retrieve all accounts within a specific account list.
      tags:
      - List Members
      parameters:
      - $ref: '#/components/parameters/listId'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: List of account members
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountListMember'
                  total:
                    type: integer
        '401':
          description: Unauthorized
        '404':
          description: Account list not found
    post:
      operationId: addAccountListMembers
      summary: Demandbase Add accounts to list
      description: Add one or more accounts to an account list.
      tags:
      - List Members
      parameters:
      - $ref: '#/components/parameters/listId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - accounts
              properties:
                accounts:
                  type: array
                  items:
                    type: object
                    properties:
                      account_id:
                        type: string
                        description: Demandbase account ID
                      domain:
                        type: string
                        description: Company domain (alternative to account_id)
      responses:
        '200':
          description: Accounts added to list
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '404':
          description: Account list not found
  /lists/{listId}/members/{accountId}:
    delete:
      operationId: removeAccountListMember
      summary: Demandbase Remove account from list
      description: Remove a specific account from an account list.
      tags:
      - List Members
      parameters:
      - $ref: '#/components/parameters/listId'
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Account removed from list
        '401':
          description: Unauthorized
        '404':
          description: Account or list not found
components:
  parameters:
    listId:
      name: listId
      in: path
      required: true
      description: Account list unique identifier
      schema:
        type: string
  schemas:
    AccountListMember:
      type: object
      properties:
        account_id:
          type: string
          description: Demandbase account ID
        company_name:
          type: string
          description: Company name
        domain:
          type: string
          description: Company domain
        added_at:
          type: string
          format: date-time
          description: When the account was added to the list
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for API access
externalDocs:
  description: Demandbase Account List API Documentation
  url: https://docs.demandbase.com/docs/account-list-api
