openapi: 3.1.0
info:
  title: Demandbase Account List Account Lists Audiences API
  description: Create, manage, and sync target account lists for ABM campaigns and personalization efforts. Build dynamic and static account lists, add or remove accounts, and sync lists with CRM systems.
  version: '1.0'
  contact:
    name: Demandbase Support
    url: https://support.demandbase.com/
  termsOfService: https://www.demandbase.com/terms-of-service/
servers:
- url: https://api.demandbase.com/accounts
  description: Demandbase Account List API Production
security:
- bearerAuth: []
tags:
- name: Audiences
  description: Create and manage audience segments
paths:
  /audiences:
    get:
      operationId: listAudiences
      summary: Demandbase List audiences
      description: Retrieve a list of audience segments for advertising targeting.
      tags:
      - Audiences
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 25
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: List of audiences
          content:
            application/json:
              schema:
                type: object
                properties:
                  audiences:
                    type: array
                    items:
                      $ref: '#/components/schemas/Audience'
                  total:
                    type: integer
        '401':
          description: Unauthorized
    post:
      operationId: createAudience
      summary: Demandbase Create an audience
      description: Create a new audience segment for advertising targeting.
      tags:
      - Audiences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAudienceRequest'
      responses:
        '201':
          description: Audience created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audience'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
  /audiences/{audienceId}:
    get:
      operationId: getAudience
      summary: Demandbase Get an audience
      description: Retrieve details of a specific audience segment.
      tags:
      - Audiences
      parameters:
      - $ref: '#/components/parameters/audienceId'
      responses:
        '200':
          description: Audience details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audience'
        '401':
          description: Unauthorized
        '404':
          description: Audience not found
    delete:
      operationId: deleteAudience
      summary: Demandbase Delete an audience
      description: Delete an audience segment.
      tags:
      - Audiences
      parameters:
      - $ref: '#/components/parameters/audienceId'
      responses:
        '204':
          description: Audience deleted
        '401':
          description: Unauthorized
        '404':
          description: Audience not found
components:
  schemas:
    Audience:
      type: object
      properties:
        id:
          type: string
          description: Audience unique identifier
        name:
          type: string
          description: Audience segment name
        description:
          type: string
          description: Audience description
        account_count:
          type: integer
          description: Number of accounts in the audience
        criteria:
          type: object
          description: Targeting criteria for the audience
          properties:
            industries:
              type: array
              items:
                type: string
              description: Target industries
            employee_ranges:
              type: array
              items:
                type: string
              description: Target employee count ranges
            revenue_ranges:
              type: array
              items:
                type: string
              description: Target revenue ranges
            countries:
              type: array
              items:
                type: string
              description: Target countries
        created_at:
          type: string
          format: date-time
          description: Audience creation timestamp
    CreateAudienceRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Audience segment name
        description:
          type: string
          description: Audience description
        criteria:
          type: object
          properties:
            industries:
              type: array
              items:
                type: string
            employee_ranges:
              type: array
              items:
                type: string
            revenue_ranges:
              type: array
              items:
                type: string
            countries:
              type: array
              items:
                type: string
  parameters:
    audienceId:
      name: audienceId
      in: path
      required: true
      description: Audience unique identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for API access
externalDocs:
  description: Demandbase Account List API Documentation
  url: https://docs.demandbase.com/docs/account-list-api
