openapi: 3.1.0
info:
  title: Demandbase Account List Account Lists Activities API
  description: Create, manage, and sync target account lists for ABM campaigns and personalization efforts. Build dynamic and static account lists, add or remove accounts, and sync lists with CRM systems.
  version: '1.0'
  contact:
    name: Demandbase Support
    url: https://support.demandbase.com/
  termsOfService: https://www.demandbase.com/terms-of-service/
servers:
- url: https://api.demandbase.com/accounts
  description: Demandbase Account List API Production
security:
- bearerAuth: []
tags:
- name: Activities
  description: Activity streams and event tracking
paths:
  /accounts/{accountId}/activities:
    get:
      operationId: getAccountActivities
      summary: Demandbase Get account activities
      description: Retrieve the activity stream for a specific account, including web visits, email interactions, ad engagements, and other tracked events.
      tags:
      - Activities
      parameters:
      - $ref: '#/components/parameters/accountId'
      - name: type
        in: query
        required: false
        description: Filter by activity type
        schema:
          type: string
          enum:
          - web_visit
          - email_open
          - email_click
          - ad_click
          - ad_impression
          - form_fill
          - content_download
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
          maximum: 200
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Account activity stream
          content:
            application/json:
              schema:
                type: object
                properties:
                  activities:
                    type: array
                    items:
                      $ref: '#/components/schemas/Activity'
                  total:
                    type: integer
        '401':
          description: Unauthorized
        '404':
          description: Account not found
components:
  parameters:
    accountId:
      name: accountId
      in: path
      required: true
      description: Demandbase account unique identifier
      schema:
        type: string
  schemas:
    Activity:
      type: object
      properties:
        id:
          type: string
          description: Activity unique identifier
        account_id:
          type: string
          description: Associated account ID
        type:
          type: string
          enum:
          - web_visit
          - email_open
          - email_click
          - ad_click
          - ad_impression
          - form_fill
          - content_download
          description: Activity type
        timestamp:
          type: string
          format: date-time
          description: When the activity occurred
        url:
          type: string
          format: uri
          description: URL associated with the activity
        page_title:
          type: string
          description: Page title for web activities
        channel:
          type: string
          description: Channel the activity originated from
        metadata:
          type: object
          description: Additional activity-specific metadata
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for API access
externalDocs:
  description: Demandbase Account List API Documentation
  url: https://docs.demandbase.com/docs/account-list-api
