openapi: 3.1.0
info:
  title: Demandbase Account List Account Lists Technographics API
  description: Create, manage, and sync target account lists for ABM campaigns and personalization efforts. Build dynamic and static account lists, add or remove accounts, and sync lists with CRM systems.
  version: '1.0'
  contact:
    name: Demandbase Support
    url: https://support.demandbase.com/
  termsOfService: https://www.demandbase.com/terms-of-service/
servers:
- url: https://api.demandbase.com/accounts
  description: Demandbase Account List API Production
security:
- bearerAuth: []
tags:
- name: Technographics
  description: Technology usage data
paths:
  /data/v1/technographics/{domain}:
    get:
      operationId: getTechnographics
      summary: Demandbase Get technographic data
      description: Retrieve technology usage data for a company by domain, including technologies detected and categories.
      tags:
      - Technographics
      parameters:
      - name: domain
        in: path
        required: true
        description: Company domain
        schema:
          type: string
      responses:
        '200':
          description: Technographic data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Technographics'
        '401':
          description: Unauthorized
        '404':
          description: No technographic data found
components:
  schemas:
    Technographics:
      type: object
      properties:
        domain:
          type: string
          description: Company domain
        technologies:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: Technology name
              category:
                type: string
                description: Technology category
              vendor:
                type: string
                description: Technology vendor
              first_detected:
                type: string
                format: date
                description: When the technology was first detected
              last_detected:
                type: string
                format: date
                description: When the technology was last detected
          description: Technologies used by the company
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for API access
externalDocs:
  description: Demandbase Account List API Documentation
  url: https://docs.demandbase.com/docs/account-list-api
