openapi: 3.1.0
info:
  title: Demandbase Account List Account Lists API Keys API
  description: Create, manage, and sync target account lists for ABM campaigns and personalization efforts. Build dynamic and static account lists, add or remove accounts, and sync lists with CRM systems.
  version: '1.0'
  contact:
    name: Demandbase Support
    url: https://support.demandbase.com/
  termsOfService: https://www.demandbase.com/terms-of-service/
servers:
- url: https://api.demandbase.com/accounts
  description: Demandbase Account List API Production
security:
- bearerAuth: []
tags:
- name: API Keys
  description: API key set management
paths:
  /admin/v1/api-keys:
    get:
      operationId: listApiKeys
      summary: Demandbase List API key sets
      description: Retrieve all API key sets for the organization.
      tags:
      - API Keys
      responses:
        '200':
          description: List of API key sets
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKeySet'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      operationId: createApiKey
      summary: Demandbase Create an API key set
      description: Generate a new API key set for programmatic access to Demandbase APIs.
      tags:
      - API Keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: API key set created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeySet'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /admin/v1/api-keys/{keyId}:
    get:
      operationId: getApiKey
      summary: Demandbase Get an API key set
      description: Retrieve details of a specific API key set.
      tags:
      - API Keys
      parameters:
      - $ref: '#/components/parameters/keyId'
      responses:
        '200':
          description: API key set details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeySet'
        '401':
          description: Unauthorized
        '404':
          description: API key set not found
    delete:
      operationId: deleteApiKey
      summary: Demandbase Delete an API key set
      description: Revoke and delete an API key set.
      tags:
      - API Keys
      parameters:
      - $ref: '#/components/parameters/keyId'
      responses:
        '204':
          description: API key set deleted
        '401':
          description: Unauthorized
        '404':
          description: API key set not found
components:
  schemas:
    ApiKeySet:
      type: object
      properties:
        id:
          type: string
          description: API key set unique identifier
        name:
          type: string
          description: API key set name
        api_key:
          type: string
          description: API key (only shown on creation)
        api_secret:
          type: string
          description: API secret (only shown on creation)
        scopes:
          type: array
          items:
            type: string
          description: Authorized API scopes
        status:
          type: string
          enum:
          - active
          - revoked
          description: Key set status
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        created_by:
          type: string
          description: User who created the key set
        last_used:
          type: string
          format: date-time
          description: Last usage timestamp
    CreateApiKeyRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Descriptive name for the API key set
        scopes:
          type: array
          items:
            type: string
          description: API scopes to authorize
  parameters:
    keyId:
      name: keyId
      in: path
      required: true
      description: API key set unique identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for API access
externalDocs:
  description: Demandbase Account List API Documentation
  url: https://docs.demandbase.com/docs/account-list-api
