openapi: 3.1.0
info:
  title: Demandbase Account List Account Lists Intent API
  description: Create, manage, and sync target account lists for ABM campaigns and personalization efforts. Build dynamic and static account lists, add or remove accounts, and sync lists with CRM systems.
  version: '1.0'
  contact:
    name: Demandbase Support
    url: https://support.demandbase.com/
  termsOfService: https://www.demandbase.com/terms-of-service/
servers:
- url: https://api.demandbase.com/accounts
  description: Demandbase Account List API Production
security:
- bearerAuth: []
tags:
- name: Intent
  description: Intent signals and buying indicators
paths:
  /accounts/{accountId}/intent:
    get:
      operationId: getAccountIntent
      summary: Demandbase Get account intent signals
      description: Retrieve intent signals and buying indicators for a specific account, including keyword-level intent data and trend information.
      tags:
      - Intent
      parameters:
      - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          description: Account intent signals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntentSignals'
        '401':
          description: Unauthorized
        '404':
          description: Account not found
components:
  schemas:
    IntentSignals:
      type: object
      properties:
        account_id:
          type: string
          description: Demandbase account identifier
        overall_intent_strength:
          type: string
          enum:
          - high
          - medium
          - low
          description: Overall intent strength
        keywords:
          type: array
          items:
            type: object
            properties:
              keyword:
                type: string
                description: Intent keyword
              intent_strength:
                type: string
                enum:
                - high
                - medium
                - low
              trend:
                type: string
                enum:
                - increasing
                - stable
                - decreasing
          description: Keyword-level intent signals
        last_updated:
          type: string
          format: date-time
          description: When intent data was last refreshed
  parameters:
    accountId:
      name: accountId
      in: path
      required: true
      description: Demandbase account unique identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for API access
externalDocs:
  description: Demandbase Account List API Documentation
  url: https://docs.demandbase.com/docs/account-list-api
