openapi: 3.1.0
info:
  title: Demandbase Account List Account Lists Analytics API
  description: Create, manage, and sync target account lists for ABM campaigns and personalization efforts. Build dynamic and static account lists, add or remove accounts, and sync lists with CRM systems.
  version: '1.0'
  contact:
    name: Demandbase Support
    url: https://support.demandbase.com/
  termsOfService: https://www.demandbase.com/terms-of-service/
servers:
- url: https://api.demandbase.com/accounts
  description: Demandbase Account List API Production
security:
- bearerAuth: []
tags:
- name: Analytics
  description: Retrieve campaign performance metrics
paths:
  /campaigns/{campaignId}/analytics:
    get:
      operationId: getCampaignAnalytics
      summary: Demandbase Get campaign analytics
      description: Retrieve performance analytics for a specific campaign including impressions, clicks, spend, and account-level engagement metrics.
      tags:
      - Analytics
      parameters:
      - $ref: '#/components/parameters/campaignId'
      - name: start_date
        in: query
        required: false
        description: Start date for analytics (YYYY-MM-DD)
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        required: false
        description: End date for analytics (YYYY-MM-DD)
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Campaign analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignAnalytics'
        '401':
          description: Unauthorized
        '404':
          description: Campaign not found
components:
  parameters:
    campaignId:
      name: campaignId
      in: path
      required: true
      description: Campaign unique identifier
      schema:
        type: string
  schemas:
    CampaignAnalytics:
      type: object
      properties:
        campaign_id:
          type: string
          description: Campaign identifier
        impressions:
          type: integer
          description: Total impressions served
        clicks:
          type: integer
          description: Total clicks
        ctr:
          type: number
          description: Click-through rate
        spend:
          type: number
          description: Total spend in USD
        accounts_reached:
          type: integer
          description: Number of unique accounts reached
        accounts_engaged:
          type: integer
          description: Number of accounts showing engagement
        cpm:
          type: number
          description: Cost per thousand impressions
        start_date:
          type: string
          format: date
          description: Analytics period start
        end_date:
          type: string
          format: date
          description: Analytics period end
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for API access
externalDocs:
  description: Demandbase Account List API Documentation
  url: https://docs.demandbase.com/docs/account-list-api
