openapi: 3.1.0
info:
  title: Demandbase Account List Account Lists Cookie Identification API
  description: Create, manage, and sync target account lists for ABM campaigns and personalization efforts. Build dynamic and static account lists, add or remove accounts, and sync lists with CRM systems.
  version: '1.0'
  contact:
    name: Demandbase Support
    url: https://support.demandbase.com/
  termsOfService: https://www.demandbase.com/terms-of-service/
servers:
- url: https://api.demandbase.com/accounts
  description: Demandbase Account List API Production
security:
- bearerAuth: []
tags:
- name: Cookie Identification
  description: Identify companies from cookies
paths:
  /api/v3/cookie.json:
    get:
      operationId: identifyCompanyByCookie
      summary: Demandbase Identify company by cookie
      description: Identify a company using Demandbase tracking cookie data. Provides enhanced identification accuracy by combining IP-based identification with cookie-based behavioral signals.
      tags:
      - Cookie Identification
      parameters:
      - name: key
        in: query
        required: true
        description: Demandbase API key
        schema:
          type: string
      - name: cookie
        in: query
        required: true
        description: Demandbase tracking cookie value
        schema:
          type: string
      responses:
        '200':
          description: Company identification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpIdentificationResult'
        '401':
          description: Unauthorized
        '404':
          description: No company identified from the cookie
components:
  schemas:
    IpIdentificationResult:
      type: object
      properties:
        company_name:
          type: string
          description: Identified company name
        demandbase_sid:
          type: integer
          description: Demandbase company identifier (SID)
        db_company_id:
          type: string
          description: Demandbase company ID
        domain:
          type: string
          description: Primary company web domain
        industry:
          type: string
          description: Industry classification
        sub_industry:
          type: string
          description: Sub-industry classification
        employee_count:
          type: integer
          description: Number of employees
        employee_range:
          type: string
          description: Employee count range bucket
        revenue:
          type: number
          description: Annual revenue in USD
        revenue_range:
          type: string
          description: Revenue range bucket
        street_address:
          type: string
          description: Street address
        city:
          type: string
          description: City
        state:
          type: string
          description: State or province
        zip:
          type: string
          description: Postal code
        country:
          type: string
          description: Country name
        country_code:
          type: string
          description: ISO country code
        phone:
          type: string
          description: Primary phone number
        website:
          type: string
          format: uri
          description: Company website URL
        stock_ticker:
          type: string
          description: Stock ticker symbol
        sic_code:
          type: string
          description: SIC industry code
        naics_code:
          type: string
          description: NAICS industry code
        fortune_1000:
          type: boolean
          description: Whether the company is in the Fortune 1000
        forbes_2000:
          type: boolean
          description: Whether the company is in the Forbes 2000
        b2b:
          type: boolean
          description: Whether the company is a B2B company
        b2c:
          type: boolean
          description: Whether the company is a B2C company
        traffic:
          type: string
          description: Website traffic classification
        isp:
          type: boolean
          description: Whether the IP belongs to an ISP rather than a company
        parent_company_id:
          type: string
          description: Demandbase ID of the parent company
        parent_company_name:
          type: string
          description: Name of the parent company
        ultimate_parent_company_id:
          type: string
          description: Demandbase ID of the ultimate parent company
        ultimate_parent_company_name:
          type: string
          description: Name of the ultimate parent company
        registry_company_name:
          type: string
          description: Company name from the IP address registry
        registry_city:
          type: string
          description: City from the IP address registry
        registry_state:
          type: string
          description: State from the IP address registry
        registry_country:
          type: string
          description: Country from the IP address registry
        registry_country_code:
          type: string
          description: Country code from the IP address registry
        ip:
          type: string
          description: The queried IP address
        information_level:
          type: string
          enum:
          - Detailed
          - Basic
          - Limited
          description: Level of information available for this IP
        audience:
          type: string
          description: Audience segment classification
        audience_segment:
          type: string
          description: Detailed audience segment
        latitude:
          type: number
          description: Latitude of the IP geolocation
        longitude:
          type: number
          description: Longitude of the IP geolocation
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for API access
externalDocs:
  description: Demandbase Account List API Documentation
  url: https://docs.demandbase.com/docs/account-list-api
