openapi: 3.1.0
info:
  title: Demandbase Account List Account Lists Engagement API
  description: Create, manage, and sync target account lists for ABM campaigns and personalization efforts. Build dynamic and static account lists, add or remove accounts, and sync lists with CRM systems.
  version: '1.0'
  contact:
    name: Demandbase Support
    url: https://support.demandbase.com/
  termsOfService: https://www.demandbase.com/terms-of-service/
servers:
- url: https://api.demandbase.com/accounts
  description: Demandbase Account List API Production
security:
- bearerAuth: []
tags:
- name: Engagement
  description: Account engagement scores and metrics
paths:
  /accounts/{accountId}/engagement:
    get:
      operationId: getAccountEngagement
      summary: Demandbase Get account engagement
      description: Retrieve the engagement score and engagement metrics for a specific account, including channel-level breakdown and trend data.
      tags:
      - Engagement
      parameters:
      - $ref: '#/components/parameters/accountId'
      - name: start_date
        in: query
        required: false
        description: Start date for engagement data (YYYY-MM-DD)
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        required: false
        description: End date for engagement data (YYYY-MM-DD)
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Account engagement data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEngagement'
        '401':
          description: Unauthorized
        '404':
          description: Account not found
  /engagement/summary:
    get:
      operationId: getEngagementSummary
      summary: Demandbase Get engagement summary
      description: Retrieve a summary of engagement metrics across all tracked accounts, including top engaged accounts and trend data.
      tags:
      - Engagement
      parameters:
      - name: start_date
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: limit
        in: query
        required: false
        description: Number of top accounts to return
        schema:
          type: integer
          default: 25
      responses:
        '200':
          description: Engagement summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_accounts_engaged:
                    type: integer
                  average_engagement_score:
                    type: number
                  top_accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountEngagement'
        '401':
          description: Unauthorized
components:
  schemas:
    AccountEngagement:
      type: object
      properties:
        account_id:
          type: string
          description: Demandbase account identifier
        company_name:
          type: string
          description: Company name
        engagement_score:
          type: number
          description: Overall engagement score (0-100)
        engagement_trend:
          type: string
          enum:
          - increasing
          - stable
          - decreasing
          description: Engagement trend direction
        web_engagement:
          type: number
          description: Web channel engagement score
        email_engagement:
          type: number
          description: Email channel engagement score
        ad_engagement:
          type: number
          description: Advertising channel engagement score
        last_activity_date:
          type: string
          format: date-time
          description: Timestamp of most recent activity
        total_activities:
          type: integer
          description: Total number of tracked activities
  parameters:
    accountId:
      name: accountId
      in: path
      required: true
      description: Demandbase account unique identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for API access
externalDocs:
  description: Demandbase Account List API Documentation
  url: https://docs.demandbase.com/docs/account-list-api
