openapi: 3.1.0
info:
  title: Demandbase Account List Account Lists Company Search API
  description: Create, manage, and sync target account lists for ABM campaigns and personalization efforts. Build dynamic and static account lists, add or remove accounts, and sync lists with CRM systems.
  version: '1.0'
  contact:
    name: Demandbase Support
    url: https://support.demandbase.com/
  termsOfService: https://www.demandbase.com/terms-of-service/
servers:
- url: https://api.demandbase.com/accounts
  description: Demandbase Account List API Production
security:
- bearerAuth: []
tags:
- name: Company Search
  description: Search and discover companies
paths:
  /data/v1/companies/search:
    get:
      operationId: searchCompanies
      summary: Demandbase Search companies
      description: Search for companies by name, domain, industry, location, or other firmographic attributes. Returns matching companies with detailed firmographic profiles.
      tags:
      - Company Search
      parameters:
      - name: query
        in: query
        required: false
        description: Free-text search query
        schema:
          type: string
      - name: domain
        in: query
        required: false
        description: Filter by company domain
        schema:
          type: string
      - name: industry
        in: query
        required: false
        description: Filter by industry
        schema:
          type: string
      - name: country
        in: query
        required: false
        description: Filter by country
        schema:
          type: string
      - name: employee_range
        in: query
        required: false
        description: Filter by employee range
        schema:
          type: string
      - name: revenue_range
        in: query
        required: false
        description: Filter by revenue range
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 25
          maximum: 100
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Company search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
                  total:
                    type: integer
        '400':
          description: Invalid search parameters
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
  /data/v1/companies/{companyId}:
    get:
      operationId: getCompany
      summary: Demandbase Get company details
      description: Retrieve detailed company information by Demandbase company ID, including firmographics, technographics, and corporate hierarchy.
      tags:
      - Company Search
      parameters:
      - $ref: '#/components/parameters/companyId'
      responses:
        '200':
          description: Company details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '401':
          description: Unauthorized
        '404':
          description: Company not found
components:
  schemas:
    Company:
      type: object
      properties:
        company_id:
          type: string
          description: Demandbase company identifier
        company_name:
          type: string
          description: Official company name
        domain:
          type: string
          description: Primary web domain
        website:
          type: string
          format: uri
          description: Company website URL
        industry:
          type: string
          description: Industry classification
        sub_industry:
          type: string
          description: Sub-industry classification
        sic_code:
          type: string
          description: SIC code
        naics_code:
          type: string
          description: NAICS code
        employee_count:
          type: integer
          description: Number of employees
        employee_range:
          type: string
          description: Employee count range
        revenue:
          type: number
          description: Annual revenue in USD
        revenue_range:
          type: string
          description: Revenue range
        address:
          type: string
          description: Street address
        city:
          type: string
          description: City
        state:
          type: string
          description: State or province
        country:
          type: string
          description: Country
        zip:
          type: string
          description: Postal code
        phone:
          type: string
          description: Phone number
        stock_ticker:
          type: string
          description: Stock ticker symbol
        founded_year:
          type: integer
          description: Year the company was founded
        fortune_1000:
          type: boolean
          description: Fortune 1000 membership
        forbes_2000:
          type: boolean
          description: Forbes 2000 membership
        parent_company_id:
          type: string
          description: Parent company ID
        parent_company_name:
          type: string
          description: Parent company name
        ultimate_parent_company_id:
          type: string
          description: Ultimate parent company ID
        ultimate_parent_company_name:
          type: string
          description: Ultimate parent company name
  parameters:
    companyId:
      name: companyId
      in: path
      required: true
      description: Demandbase company unique identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for API access
externalDocs:
  description: Demandbase Account List API Documentation
  url: https://docs.demandbase.com/docs/account-list-api
